$mainLogoHeight:489px;
$logoHeight:140px;
$headerHeight:70px;
$leftHeadMargin:20px;
$leftConentMargin:100px;
$HeaderFontSize:16px;
$titleFontSize:15px;
$sectionDescFontSize:13px;
$descColor:#666666;
$titleWidth:160px;
$gridMarginLeft:333px;;
$infoTitleFontSize:12px;

@import "retina";

@mixin HelvBold {
//   font-family: Helvetica;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
}

@mixin contentDesc {
//   font-size: $sectionDescFontSize;
  color: $descColor;
}
@mixin contentTitle {
          height: 12px;
          @include HelvNor;
          font-size: $titleFontSize;
}

@mixin HelvNor {
//   font-family: Helvetica;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
}

.content {
  .mainLogo {
            border-width: 0px;
    img {
    //   background-image: url(./images/mainLogo.png);
       @include at2x('./images/mainLogo', png, 100%, $mainLogoHeight);
      height: $mainLogoHeight;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
  header {
    height: $headerHeight;
    line-height: $headerHeight;
    margin-left: $leftHeadMargin;
  }
  .gridSection {
    margin-left: $leftConentMargin;
    &.colorSection{
        margin-top: 179px;
    }
    &.logoSection{
        margin-top: 20px;
    }
    .flexRow {
      display: flex;
      flex-direction: row;
     .colorHeader, .logoHeader {
        width: $titleWidth;
        display: flex;
        flex-direction: column;
        // .logoTitle {
        //     @include contentTitle;
        // }
        button.downloadBtn {
          margin-top: 19px;
        }
      }
      .logoContent {
        margin-left: $gridMarginLeft;
        display: flex;
        flex-direction: column;
        width: 100%;
   
        .logoDesc {
        //   @include HelvNor;
          @include contentDesc;
          &.moreColumn{
            margin-top: 50px;
                &+.logoGrid{
                    img{
                        &:nth-child(1){
                                  @include at2x('./images/logo3', png, 300px, $logoHeight);
                        }
                        &:nth-child(2){
                            @include at2x('./images/logo4', png, 300px, $logoHeight);
                        }
                    }
                }
            }
        }
        
        .logoGrid{
            margin-top: 19px;
            display: flex;
            flex-direction: row;
            img{ 
                height: $logoHeight;
                background-repeat: no-repeat;
                width: 300px;
               &:nth-child(1){
                   margin-right: 20px;
                   @include at2x('./images/logo1', png, 300px, $logoHeight);
                   background-position: left center;
               }
               &:nth-child(2){
                  @include at2x('./images/logo2', png, 300px, $logoHeight);
                   background-position: left center;
               }
               
            }
        }
        

      }
    }
  }
}

.colorHeader{
    // .colorTitle{
    //      @include contentTitle;
    // } 
    .colorDesc{
        margin-top: 19px;
        // @include HelvNor;
        @include contentDesc;
        width: 97px;
    }
}

.colorfield{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: $gridMarginLeft;
    .colorBoard{
        margin-left: 20px;
        width: 140px;
                 &:nth-child(1){
                .colorCard{
                      @include at2x('./images/color1', png, 140px, 139px);
                }  
            }
         &:nth-child(2){
                .colorCard{
                           @include at2x('./images/color2', png, 140px, 139px);
                }  
            }
                     &:nth-child(3){
                .colorCard{
                           @include at2x('./images/color3', png, 140px, 139px);
                }  
            }
                   &:nth-child(4){
                .colorCard{
                          @include at2x('./images/color3', png, 140px, 139px);
                }  
            }
            .colorInfo{
                margin-top: 20px;
               .CMYK, .RGB{
                    h5:nth-child(1){
                    // font-size: $infoTitleFontSize;
                    // @include HelvNor; 
                    color: $descColor;
                    }
               }
               .CMYK{
                   margin-top: 20px;
               }
        }
  } 
    }
  .colorCard{
      width: 100%;
      height: 139px;
      background-repeat: no-repeat;
      background-position: center center;
      border-width: 0px;
}
// body{
//     min-width: 640px;
// }


@media (min-width: 768px) {
  .content .gridSection .flexRow .logoContent, .colorfield {
    margin-left: 236px;
  }
  .content .gridSection .flexRow .logoContent .logoGrid,.colorfield{
   flex-wrap: wrap;   
  }
}

@media (min-width: 992px) {
  .content .gridSection .flexRow .logoContent, .colorfield {
    margin-left: 136px;
  }
}

@media (min-width: 1200px) {
  .content .gridSection .flexRow .logoContent, .colorfield {
    margin-left: $gridMarginLeft;
  }
}

@media (max-width: 768px) {
   .content header{
       font-size: 32px;
   } 
   .container {
        width: 640px;
   }
   .content .gridSection .flexRow{
       flex-direction: column;
       align-items: center;
       justify-content: center;
   }
   .content .gridSection .flexRow .logoContent{
       margin-left: 0px;
       align-items: center;
       justify-content: center;
   }
   .content .gridSection{
       margin-left: 0px;
   }
   .content .gridSection .flexRow .colorHeader, .content .gridSection .flexRow .logoHeader {
       align-items: center;
       justify-content: center;
   }
   .content .gridSection .flexRow .logoContent .logoGrid{
       flex-direction: column;
       margin-top: 50px;
   }
   .colorfield{
       margin-left: 0px;
       flex-direction: column;
       align-items: center;
       justify-content: center;
   }
   .colorfield .colorBoard{
       margin-left: 0px;
   }
   .content .gridSection .flexRow .logoContent .logoGrid img:nth-child(1){
       margin-right: 0px;
   }
   .content .mainLogo img {
       height: 418px;
   }
   .content .gridSection .flexRow .colorHeader .colorTitle, .content .gridSection .flexRow .logoHeader .logoTitle{
       font-size: 42px;
   }
   .btn-lg{
       padding: 50px 110px;
       font-size: 34px;
   }
   .content .gridSection .flexRow .colorHeader .colorTitle, .content .gridSection .flexRow .logoHeader .logoTitle{
       height: auto;
   }
   .content .gridSection .flexRow .logoContent .logoDesc,.colorHeader .colorDesc{
    //    font-size: 32px;
       width: 372px;
       text-align: center;
       margin-top: 50px;
   }
   .content .gridSection .flexRow .colorHeader button.downloadBtn, .content .gridSection .flexRow .logoHeader button.downloadBtn{
       margin-top: 52px;
   }
   .content .gridSection .flexRow .logoContent .logoGrid img:nth-child(2){
       margin-top: 50px;
   }
       .content .gridSection .flexRow .logoContent .logoDesc.moreColumn + .logoGrid img:nth-child(1) {
     @include at2x('./images/logo3@2x', png, 600px, 280px);
  }
    .content .gridSection .flexRow .logoContent .logoDesc.moreColumn + .logoGrid img:nth-child(2) {
     @include at2x('./images/logo4@2x', png, 600px, 280px);
  }
    .content .gridSection .flexRow .logoContent .logoGrid img:nth-child(1) {
     @include at2x('./images/logo2@2x', png, 600px, 280px);
  }
    .content .gridSection .flexRow .logoContent .logoGrid img:nth-child(2) {
    @include at2x('./images/logo1@2x', png, 600px, 280px);
  }
    .colorfield .colorBoard:nth-child(1) .colorCard {
     @include at2x('./images/color1@2x', png, 280px, 278px);
  }
    .colorfield .colorBoard:nth-child(2) .colorCard {
     @include at2x('./images/color2@2x', png, 280px, 278px);
  }
    .colorfield .colorBoard:nth-child(3) .colorCard {
     @include at2x('./images/color3@2x', png, 280px, 278px);
  }
    .colorfield .colorBoard:nth-child(4) .colorCard {
     @include at2x('./images/color3@2x', png, 280px, 278px);
  }
  .content .gridSection .flexRow .logoContent .logoGrid img {
    height: 280px;
    background-repeat: no-repeat;
    width: 600px;
    }
    .colorfield .colorBoard {
    margin-left: 20px;
    width: 280px;
    margin-top: 50px;
    }
    .colorCard{
    height: 278px;  
  }
    .colorfield .colorBoard .colorInfo .CMYK div:nth-child(1), .colorfield .colorBoard .colorInfo .RGB div:nth-child(1),.colorfield .colorBoard .colorInfo .CMYK div:nth-child(2), .colorfield .colorBoard .colorInfo .RGB div:nth-child(2){
      font-size: 34px;
  }
}
