$mainWidth: 50%;
$mainLeft:25%;

form.form.ui{
    background-color: lightseagreen;
    width: $mainWidth;
    margin-left: $mainLeft;
}
.ui.grid{
        width: $mainWidth;
    margin-left: $mainLeft;
}

.wide.column.votes{
    display: flex;
    flex-direction: row;
}