.searchResults{
    text-align: center;    
    margin-top: 50px;
    color: darkred;
}

.itemSpace{
    margin-top: 150px;
}


.rotate {
  animation-name: roll;
  animation-duration: 3s; 
  animation-iteration-count: infinite;
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-play-state: running;
  
  transform: rotate(30deg);
  opacity: .7;
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}


path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}


section {
  background: #f7f7f7;
  border-radius: 3px;
  text-align: center;
  margin: 1em;
  position: relative !important;
  padding-bottom: 10px; }
  section [md-button], section [md-raised-button], section [md-fab] {
    margin-top: 16px;
    margin-bottom: 16px; }

md-content {
  margin-right: 7px; }

.label {
  position: absolute;
  bottom: 5px;
  left: 7px;
  font-size: 14px;
  opacity: 0.54; }
        
       
        
       