<!DOCTYPE html>
<html>
  <head>
    <title>Angular 2 QuickStart</title>
    <script src="./externalScript/system.src.js"></script>
    <script src="./externalScript/typescript.js"></script>
    <script src="./externalScript/angular2.dev.js"></script>
    <script>
      System.config({
        transpiler: 'typescript',
        typescriptOptions: { emitDecoratorMetadata: true }
      });
      System.import("./script/app.ts");
    </script>
  </head>
  <body>
    <my-app>loading...</my-app>
  </body>
</html>