.content .mainLogo {
  border-width: 0px;
}

.content .mainLogo img {
  background-image: url("./images/mainLogo.png");
  height: 489px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .content .mainLogo img {
    background-image: url("./images/mainLogo@2x.png");
    background-size: 100% 489px;
  }
}

.content header {
  height: 70px;
  line-height: 70px;
  margin-left: 20px;
}

.content .gridSection {
  margin-left: 100px;
}

.content .gridSection.colorSection {
  margin-top: 179px;
}

.content .gridSection.logoSection {
  margin-top: 20px;
}

.content .gridSection .flexRow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.content .gridSection .flexRow .colorHeader, .content .gridSection .flexRow .logoHeader {
  width: 160px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .gridSection .flexRow .colorHeader button.downloadBtn, .content .gridSection .flexRow .logoHeader button.downloadBtn {
  margin-top: 19px;
}

.content .gridSection .flexRow .logoContent {
  margin-left: 333px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.content .gridSection .flexRow .logoContent .logoDesc {
  color: #666666;
}

.content .gridSection .flexRow .logoContent .logoDesc.moreColumn {
  margin-top: 50px;
}

.content .gridSection .flexRow .logoContent .logoDesc.moreColumn + .logoGrid img:nth-child(1) {
  background-image: url("./images/logo3.png");
}

@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .content .gridSection .flexRow .logoContent .logoDesc.moreColumn + .logoGrid img:nth-child(1) {
    background-image: url("./images/logo3@2x.png");
    background-size: 300px 140px;
  }
}

.content .gridSection .flexRow .logoContent .logoDesc.moreColumn + .logoGrid img:nth-child(2) {
  background-image: url("./images/logo4.png");
}

@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .content .gridSection .flexRow .logoContent .logoDesc.moreColumn + .logoGrid img:nth-child(2) {
    background-image: url("./images/logo4@2x.png");
    background-size: 300px 140px;
  }
}

.content .gridSection .flexRow .logoContent .logoGrid {
  margin-top: 19px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.content .gridSection .flexRow .logoContent .logoGrid img {
  height: 140px;
  background-repeat: no-repeat;
  width: 300px;
}

.content .gridSection .flexRow .logoContent .logoGrid img:nth-child(1) {
  margin-right: 20px;
  background-image: url("./images/logo1.png");
  background-position: left center;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .content .gridSection .flexRow .logoContent .logoGrid img:nth-child(1) {
    background-image: url("./images/logo1@2x.png");
    background-size: 300px 140px;
  }
}

.content .gridSection .flexRow .logoContent .logoGrid img:nth-child(2) {
  background-image: url("./images/logo2.png");
  background-position: left center;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .content .gridSection .flexRow .logoContent .logoGrid img:nth-child(2) {
    background-image: url("./images/logo2@2x.png");
    background-size: 300px 140px;
  }
}

.colorHeader .colorDesc {
  margin-top: 19px;
  color: #666666;
  width: 97px;
}

.colorfield {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 333px;
}

.colorfield .colorBoard {
  margin-left: 20px;
  width: 140px;
}

.colorfield .colorBoard:nth-child(1) .colorCard {
  background-image: url("./images/color1.png");
}

@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .colorfield .colorBoard:nth-child(1) .colorCard {
    background-image: url("./images/color1@2x.png");
    background-size: 140px 139px;
  }
}

.colorfield .colorBoard:nth-child(2) .colorCard {
  background-image: url("./images/color2.png");
}

@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .colorfield .colorBoard:nth-child(2) .colorCard {
    background-image: url("./images/color2@2x.png");
    background-size: 140px 139px;
  }
}

.colorfield .colorBoard:nth-child(3) .colorCard {
  background-image: url("./images/color3.png");
}

@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .colorfield .colorBoard:nth-child(3) .colorCard {
    background-image: url("./images/color3@2x.png");
    background-size: 140px 139px;
  }
}

.colorfield .colorBoard:nth-child(4) .colorCard {
  background-image: url("./images/color3.png");
}

@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .colorfield .colorBoard:nth-child(4) .colorCard {
    background-image: url("./images/color3@2x.png");
    background-size: 140px 139px;
  }
}

.colorfield .colorBoard .colorInfo {
  margin-top: 20px;
}

.colorfield .colorBoard .colorInfo .CMYK h5:nth-child(1), .colorfield .colorBoard .colorInfo .RGB h5:nth-child(1) {
  color: #666666;
}

.colorfield .colorBoard .colorInfo .CMYK {
  margin-top: 20px;
}

.colorCard {
  width: 100%;
  height: 139px;
  background-repeat: no-repeat;
  background-position: center center;
  border-width: 0px;
}

@media (min-width: 768px) {
  .content .gridSection .flexRow .logoContent, .colorfield {
    margin-left: 236px;
  }
  .content .gridSection .flexRow .logoContent .logoGrid, .colorfield {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

@media (min-width: 992px) {
  .content .gridSection .flexRow .logoContent, .colorfield {
    margin-left: 136px;
  }
}

@media (min-width: 1200px) {
  .content .gridSection .flexRow .logoContent, .colorfield {
    margin-left: 333px;
  }
}

@media (max-width: 768px) {
  .content header {
    font-size: 32px;
  }
  .container {
    width: 640px;
  }
  .content .gridSection .flexRow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content .gridSection .flexRow .logoContent {
    margin-left: 0px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content .gridSection {
    margin-left: 0px;
  }
  .content .gridSection .flexRow .colorHeader, .content .gridSection .flexRow .logoHeader {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content .gridSection .flexRow .logoContent .logoGrid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
  }
  .colorfield {
    margin-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .colorfield .colorBoard {
    margin-left: 0px;
  }
  .content .gridSection .flexRow .logoContent .logoGrid img:nth-child(1) {
    margin-right: 0px;
  }
  .content .mainLogo img {
    height: 418px;
  }
  .content .gridSection .flexRow .colorHeader .colorTitle, .content .gridSection .flexRow .logoHeader .logoTitle {
    font-size: 42px;
  }
  .btn-lg {
    padding: 50px 110px;
    font-size: 34px;
  }
  .content .gridSection .flexRow .colorHeader .colorTitle, .content .gridSection .flexRow .logoHeader .logoTitle {
    height: auto;
  }
  .content .gridSection .flexRow .logoContent .logoDesc, .colorHeader .colorDesc {
    width: 372px;
    text-align: center;
    margin-top: 50px;
  }
  .content .gridSection .flexRow .colorHeader button.downloadBtn, .content .gridSection .flexRow .logoHeader button.downloadBtn {
    margin-top: 52px;
  }
  .content .gridSection .flexRow .logoContent .logoGrid img:nth-child(2) {
    margin-top: 50px;
  }
  .content .gridSection .flexRow .logoContent .logoDesc.moreColumn + .logoGrid img:nth-child(1) {
    background-image: url("./images/logo3@2x.png");
  }
}

@media all and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), all and (max-width: 768px) and (-o-min-device-pixel-ratio: 3 / 2), all and (max-width: 768px) and (min--moz-device-pixel-ratio: 1.5), all and (max-width: 768px) and (min-device-pixel-ratio: 1.5) {
  .content .gridSection .flexRow .logoContent .logoDesc.moreColumn + .logoGrid img:nth-child(1) {
    background-image: url("./images/logo3@2x@2x.png");
    background-size: 600px 280px;
  }
}

@media (max-width: 768px) {
  .content .gridSection .flexRow .logoContent .logoDesc.moreColumn + .logoGrid img:nth-child(2) {
    background-image: url("./images/logo4@2x.png");
  }
}

@media all and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), all and (max-width: 768px) and (-o-min-device-pixel-ratio: 3 / 2), all and (max-width: 768px) and (min--moz-device-pixel-ratio: 1.5), all and (max-width: 768px) and (min-device-pixel-ratio: 1.5) {
  .content .gridSection .flexRow .logoContent .logoDesc.moreColumn + .logoGrid img:nth-child(2) {
    background-image: url("./images/logo4@2x@2x.png");
    background-size: 600px 280px;
  }
}

@media (max-width: 768px) {
  .content .gridSection .flexRow .logoContent .logoGrid img:nth-child(1) {
    background-image: url("./images/logo2@2x.png");
  }
}

@media all and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), all and (max-width: 768px) and (-o-min-device-pixel-ratio: 3 / 2), all and (max-width: 768px) and (min--moz-device-pixel-ratio: 1.5), all and (max-width: 768px) and (min-device-pixel-ratio: 1.5) {
  .content .gridSection .flexRow .logoContent .logoGrid img:nth-child(1) {
    background-image: url("./images/logo2@2x@2x.png");
    background-size: 600px 280px;
  }
}

@media (max-width: 768px) {
  .content .gridSection .flexRow .logoContent .logoGrid img:nth-child(2) {
    background-image: url("./images/logo1@2x.png");
  }
}

@media all and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), all and (max-width: 768px) and (-o-min-device-pixel-ratio: 3 / 2), all and (max-width: 768px) and (min--moz-device-pixel-ratio: 1.5), all and (max-width: 768px) and (min-device-pixel-ratio: 1.5) {
  .content .gridSection .flexRow .logoContent .logoGrid img:nth-child(2) {
    background-image: url("./images/logo1@2x@2x.png");
    background-size: 600px 280px;
  }
}

@media (max-width: 768px) {
  .colorfield .colorBoard:nth-child(1) .colorCard {
    background-image: url("./images/color1@2x.png");
  }
}

@media all and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), all and (max-width: 768px) and (-o-min-device-pixel-ratio: 3 / 2), all and (max-width: 768px) and (min--moz-device-pixel-ratio: 1.5), all and (max-width: 768px) and (min-device-pixel-ratio: 1.5) {
  .colorfield .colorBoard:nth-child(1) .colorCard {
    background-image: url("./images/color1@2x@2x.png");
    background-size: 280px 278px;
  }
}

@media (max-width: 768px) {
  .colorfield .colorBoard:nth-child(2) .colorCard {
    background-image: url("./images/color2@2x.png");
  }
}

@media all and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), all and (max-width: 768px) and (-o-min-device-pixel-ratio: 3 / 2), all and (max-width: 768px) and (min--moz-device-pixel-ratio: 1.5), all and (max-width: 768px) and (min-device-pixel-ratio: 1.5) {
  .colorfield .colorBoard:nth-child(2) .colorCard {
    background-image: url("./images/color2@2x@2x.png");
    background-size: 280px 278px;
  }
}

@media (max-width: 768px) {
  .colorfield .colorBoard:nth-child(3) .colorCard {
    background-image: url("./images/color3@2x.png");
  }
}

@media all and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), all and (max-width: 768px) and (-o-min-device-pixel-ratio: 3 / 2), all and (max-width: 768px) and (min--moz-device-pixel-ratio: 1.5), all and (max-width: 768px) and (min-device-pixel-ratio: 1.5) {
  .colorfield .colorBoard:nth-child(3) .colorCard {
    background-image: url("./images/color3@2x@2x.png");
    background-size: 280px 278px;
  }
}

@media (max-width: 768px) {
  .colorfield .colorBoard:nth-child(4) .colorCard {
    background-image: url("./images/color3@2x.png");
  }
}

@media all and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), all and (max-width: 768px) and (-o-min-device-pixel-ratio: 3 / 2), all and (max-width: 768px) and (min--moz-device-pixel-ratio: 1.5), all and (max-width: 768px) and (min-device-pixel-ratio: 1.5) {
  .colorfield .colorBoard:nth-child(4) .colorCard {
    background-image: url("./images/color3@2x@2x.png");
    background-size: 280px 278px;
  }
}

@media (max-width: 768px) {
  .content .gridSection .flexRow .logoContent .logoGrid img {
    height: 280px;
    background-repeat: no-repeat;
    width: 600px;
  }
  .colorfield .colorBoard {
    margin-left: 20px;
    width: 280px;
    margin-top: 50px;
  }
  .colorCard {
    height: 278px;
  }
  .colorfield .colorBoard .colorInfo .CMYK div:nth-child(1), .colorfield .colorBoard .colorInfo .RGB div:nth-child(1), .colorfield .colorBoard .colorInfo .CMYK div:nth-child(2), .colorfield .colorBoard .colorInfo .RGB div:nth-child(2) {
    font-size: 34px;
  }
}
